@model VrseWebApplication.Models.DxTestPartial01ViewModel

<script>
	function DxPartialView01Func1(a) {
		console.log(`DX Partial View 01: DxPartialView01Func1('${a}').`);
	}

	$(function() {
		console.log("DX Partial View 01: Document ready.");
		DxPartialView01Func1("dx-p1");
		DxView01Func1("dx-p1");
	});

	function sendForm_begin() {
		console.log("DX Partial View 01: sendForm_begin.");

		showLoadingPanel($('body'), 1);
		sleep(1000);
	}

	function sendForm_complete() {
		console.log("DX Partial View 01: sendForm_complete.");

		sleep(1000);
		hideLoadingPanel();
	}

	function sendForm_success(data) {
		console.log("DX Partial View 01: sendForm_success.");

		sleep(1000);
		hideLoadingPanel();

		if (data.error) {
			// Im Fehlerfall, Partial in meinem Container anzeigen.
			const cont = $('#partial-view-01-container');
			fillHtmlIntoContainer(data.html, cont);
		} else {
			// Erfolg, Partial in anderem Container anzeigen.
			const cont = $('#partial-view-02-container');
			fillHtmlIntoContainer(data.html, cont);
		}
	}
</script>

<h3>DX Partial View 01</h3>

<p>Content of the DX Partial View 01. Passed ID: <strong>@Model?.Id</strong>.</p>

@* https://dotnetthoughts.net/jquery-unobtrusive-ajax-helpers-in-aspnet-core/ *@
<form id="formPartial01"
      asp-antiforgery="true"
      asp-controller="TestDevExtreme"
      asp-action="DxPostPartialView01"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="sendForm_begin"
      data-ajax-complete="sendForm_complete"
      data-ajax-success="sendForm_success"
      data-ajax-failure="sendForm_failure"
      autocomplete="off">
	
@using (Html.DevExtreme().ValidationGroup())
{
	@Html.ValidationSummary()

	<div class="form-panel">
		<div class="form-fields-area">
			<div class="row">
				<div class="col-12">
					@Html.LabelFor(m => m.Id, new { @class = @"form-label" })
				</div>
				<div class="col-12">
					@Html.DevExtreme().TextBoxFor(m => m.Id).ElementAttr(new {@class=@"form-control w-100"})
					@Html.ValidationMessageFor(m => m.Id)
				</div>
			</div>

			<div class="form-button-area">
				<hr/>
				<div class="row">
					<div class="col-12">
						<button type="submit" class="btn btn-primary">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
}
</form>

<div id="partial-view-02-container" class="mt-3">
	Click <kbd>Send</kbd>.
</div>