@{
    ViewData["Title"] = "Tests";
}

<div>
	<h2>Tests</h2>
	
	<div class="row mt-3">
		<div class="col-sm-12 col-md-6">
			<div class="list-group">
				<a class="list-group-item list-group-item-action" asp-controller="Test" asp-action="Test01">Test 01 &ndash; Multiple nested AJAX calls</a>
				<a class="list-group-item list-group-item-action" asp-controller="Test" asp-action="Test02">Test 02 &ndash; AJAX calls to AJAX form</a>
			</div>
		</div>
	</div>
	
	<h4 class="mt-5">DevExtreme Tests</h4>
	
	<div class="row mt-3">
		<div class="col-sm-12 col-md-6">
			<div class="list-group">
				<a class="list-group-item list-group-item-action" asp-controller="TestDevExtreme" asp-action="DxTest01">DevExtreme Test 01 &ndash; AJAX calls to DX AJAX form</a>
				<a class="list-group-item list-group-item-action" asp-controller="TestDevExtreme" asp-action="DxTest02">DevExtreme Test 02 &ndash; Bootstrap Modal</a>
				<a class="list-group-item list-group-item-action" asp-controller="TestDevExtreme" asp-action="DxTest03">DevExtreme Test 02 &ndash; Most simple Bootstrap Modal</a>
			</div>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-12">
			<p>In the above tests, please also see the Browser's JavaScript console for additional logging information of the tests.</p>
		</div>
	</div>
</div>
