@{
    ViewData["Title"] = "Tests";
}

<div>
    <h1>Tests</h1>
	<ul>
		<li><a asp-action="Test01" asp-controller="Test">Tests 01</a></li>
		<li><a asp-action="Test02" asp-controller="Test">Tests 02</a></li>
	</ul>
	<p>In the above tests, please also see the Browser's JavaScript console for additional logging information of the tests.</p>
</div>
