@model int

<script>
	function PartialView02Func1(a) {
		console.log(`Partial View 02: PartialView02Func1('${a}').`);
	}

	$(function() {
		console.log("Partial View 02: Document ready.");
		PartialView02Func1("p2");
		View01Func1("p2");
	});
</script>

<h3>Partial View 02</h3>

<p>Content of the Partial View 02. Passed ID: <strong>@Model</strong>.</p>
