@{
	ViewData[@"Title"] = "Test 01";
}

@section Scripts {
	<script>
		$(function() {
			console.log("Test 01: Document ready.");

			showLoadingPanel($('body'), 1);
			sleep(1000);

			$.ajax({
				type: "POST",
				url: "@Url.Action(@"GetPartialView01", @"Test", new { id = 1 })",
				data: { "id": 1 },
				success: function(response) {
					sleep(1000);
					hideLoadingPanel();

					if (response.error) {
						handleError(response.error, false);
					} else {
						// Partial anzeigen.
						const cont = $('#partial-view-01-container');
						cont.html(response.html);
						renderFormGroupsInContainer(cont);
					}
				},
				error: function(response) {
					sleep(1000);
					hideLoadingPanel();
					handleError(response.responseText, false);
				}
			});
		});

		function View01Func1(a) {
			console.log(`View 01: View01Func1('${a}').`);
		}
	</script>
}

<h1>Test 01</h1>

<div id="partial-view-01-container" class="mt-3"></div>