@{
	ViewData[@"Title"] = "Test 02";
}

@section Scripts {
	<script>
		$(function() {
			console.log("Test 02: Document ready.");

			showLoadingPanel($('body'), 1);
			sleep(1000);

			$.ajax({
				type: "POST",
				url: "@Url.Action(@"GetPartialView03", @"Test", new { id = 3 })",
				data: { "id": 3 },
				success: function(response) {
					sleep(1000);
					hideLoadingPanel();

					if (response.error) {
						handleError(response.error, false);
					} else {
						// Partial anzeigen.
						const cont = $('#partial-view-03-container');
						cont.html(response.html);
						renderFormGroupsInContainer(cont);
					}
				},
				error: function(response) {
					sleep(1000);
					hideLoadingPanel();
					handleError(response.responseText, false);
				}
			});
		});

		function View02Func1(a) {
			console.log(`View 02: View02Func1('${a}').`);
		}
	</script>
}

<h1>Test 02</h1>

<div id="partial-view-03-container" class="mt-3"></div>